<app-navbar></app-navbar>
<div class="container center">
  <div class="content">
<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenido</mat-card-title>
    
  </mat-card-header>
  <p class="content_text">¿Qué te gustaría hacer?</p>
    
    
  
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="startNewSearch()">Empezar nueva búsqueda</button>
      <button mat-raised-button color="accent" (click)="viewSavedMovies()">Ver películas guardadas</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
  