<div class="language-container container center">
  <app-navbar></app-navbar>
  <h2>Choose original language</h2>
  <form (ngSubmit)="saveAndNavigate()">
  <mat-form-field>
      <mat-label>Select original language</mat-label>
      <mat-chip-grid #chipGrid aria-label="Original language selection">
        <mat-chip-row
          *ngFor="let language of selectedLanguages"
          
          
          (removed)="removeChip(language)"
        >
          {{ language.english_name }}
          <button matChipRemove [attr.aria-label]="'remove ' + language.english_name ">
            <mat-icon>cancel</mat-icon>
          </button>
          </mat-chip-row>
        
      </mat-chip-grid>
        
        <input
          #languageInput
          [formControl]="languageCtrl"
          placeholder="Add Language"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let language of filteredLanguages | async" [value]="language.english_name">
              {{language.english_name}}
            </mat-option>
          </mat-autocomplete>
      
    </mat-form-field>

   

    <button mat-raised-button color="primary" type="submit">Next</button>
  </form>
</div>
