/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
$my-primary: mat.define-palette(mat.$grey-palette, 900);

$my-accent: mat.define-palette(mat.$grey-palette, 100, 200, 300);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   
 ),
 typography: mat.define-typography-config(),
 density: 0,
 
));
@include mat.all-component-themes($my-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    
  }
  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
  h2 {
text-align: center;
  }

  app-navbar {
    width: 100%;
    
  }


  .cdk-overlay-pane {
     position: fixed !important; 
     top: 200px; 
     text-align: center;
  }
  



