<div class="container center">
  <header>
    <!-- Logo o imagen del encabezado -->
    <img src="ruta_del_logo" alt="Logo de la aplicación">
    <h2 class="header-text">MUMÜ</h2>
    <div class="main_text">

      <p class="main-paragraph">¿No sabes que película elegir para esta noche? ¿Estás perdido entre tantas plataformas streaming? ¿Llevas una hora buscando y no te interesa nada de lo que aparece?
        
        </p>
        <h2>¡Mumú se ocupa de todo!</h2>
        <p>Con sus filtros personalizados tú solo tienes que preocuparte de ponerte comodo y disfrutar.</p>
        
    </div>
  </header>
  
  
  
  <div class="background_image">
    <!-- Texto descriptivo de la aplicación -->
   
    

    <!-- Formulario de autorización a la derecha del texto -->
    <div class="authorization-form">
<mat-card>
  <mat-card-header>
    <mat-card-title>Empieza ahora!</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="mat_form" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Correo Electrónico" [(ngModel)]="email" name="email" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <div class="error-message" [ngClass]="{ 'show-error': statusMessage }">
        {{ statusMessage }}
      </div>
      <button mat-raised-button color="primary" type="submit">Log in</button>
      
    </form>
    <p>No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    <p>Olvidaste tu contraseña? <a routerLink="/register">Regístrate aquí</a></p>
  </mat-card-content>
</mat-card>
</div>
</div>

<footer>
  <!-- Logo o imagen del encabezado -->
 <p>footer here</p>
</footer>
</div>

