.mat-form-field-container {
    
    vertical-align: top; /* Align fields to the top */
    margin: 40px;
  }
  
  @media (max-width: 768px) {
    /* Adjust layout for smaller screens */
    .mat-form-field-container {
      width: 100%; /* On smaller screens, use full width */
      margin-right: 0; /* No margin between columns */
      margin-bottom: 16px; /* Add margin between rows */
    }
  }

  .button_container {
    display: flex;
    justify-content: space-between;
}

.form_duration {
  width: 100%;
}
.duration_container {
  display: flex;
  justify-content: center;
}


  