<app-navbar></app-navbar>
<div class="duration-container container center">
    <div class="content">
    <h2>Choose Movie Duration</h2>
    <form class="form_duration" [formGroup]="durationForm" (ngSubmit)="saveAndNavigate()">
        <div class="duration_container">
      <div class="mat-form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Minimum Duration (minutes)</mat-label>
        <input matInput type="number" formControlName="minDuration">
      </mat-form-field>
    </div>
    <div class="mat-form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Maximum Duration (minutes)</mat-label>
        <input matInput type="number" formControlName="maxDuration">
      </mat-form-field>
    </div>
  </div>
    <div class="button_container">
    <button  class="button_navigate" mat-raised-button color="primary"  type="cancel" routerLink="/genre">Volver</button>
      <button class="button_navigate" mat-raised-button color="primary" [disabled]="isNextButtonDisabled" type="submit">Siguiente</button>
    </div>
    </form>
  </div>
</div>
  
