<!-- reset-password.component.html -->

<div class="container  center">
  <div class="authorization-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Restablecer Contraseña</mat-card-title>
      </mat-card-header>
      <mat-card-content>
    <form class="mat_form" (ngSubmit)="resetPasswordConfirm()">
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="repeatPassword" name="repeatPassword" required>
      </mat-form-field>
      <div  class="error-message" [ngClass]="{ 'show-message': errorMessage }">{{ errorMessage }}</div>
       <!-- Muestra el mensaje de error si existe -->
       <div   class="success-message" [ngClass]="{ 'show-message': successMessage }">{{ successMessage }}</div>
      <button type="submit" mat-raised-button color="primary">Restablecer Contraseña</button>
      
    </form>
  </mat-card-content>
  
</mat-card>
  </div>
</div>
  