<!-- reset-password.component.html -->

<div class="reset-password">
    <h2>Restablecer Contraseña</h2>
    <form (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Restablecer Contraseña</button>
    </form>
  </div>
  