<app-navbar></app-navbar>
<div class="container center">
  <div class="content">
      <h2>Elija los generos</h2>
    <form class="form_genre" (ngSubmit)="saveAndNavigate()">
<span class="genre_list">
    <mat-checkbox [checked]="selectAll"  
                  [indeterminate]="someComplete()"
                  (change)="setSelectAll($event.checked)">
    Select All
  </mat-checkbox></span>
  <div class="genre-columns">
        <ul class="genre_ul center">
            <li class="genre_list" *ngFor="let genre of genres; let i = index">
             
  
        <mat-checkbox class="genre_checkbox" [name]="'genre_' + i" [(ngModel)]="genres[i].selected"  (ngModelChange)="updateSelectAll()">
          {{ genre.name }}
        </mat-checkbox>
        
    </li>
</ul>
</div>
      
  
  
      
  
<div class="button_container">
      <button  class="button_navigate" mat-raised-button color="primary"  type="cancel" routerLink="/subscription">Volver</button>
      <button  class="button_navigate" mat-raised-button color="primary" [disabled]="isNextButtonDisabled" type="submit">Siguiente</button>
      
    </div>
    </form>
  </div>
  </div>
  