<div class="container center">
    <app-navbar></app-navbar>
    <h2>Blacklist</h2>
  <!-- Lista de películas en la watchlist -->
  <div *ngFor="let movie of blacklist" class="movie-container">
    <h2>{{ movie.movie_id}}</h2>
    
    <!-- Contenedor para la imagen de la película y el botón de eliminar -->
    
    
      <!-- Botón para eliminar la película de la blacklist -->
      <button (click)="removeFromBlacklist(movie.id)" mat-mini-fab class="delete-button" aria-label="Eliminar de la lista" matTooltip="Eliminar de la lista">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    
    <!-- Descripción de la película -->
   
  <!-- Mensaje si no hay películas en la watchlist -->
  <div *ngIf="blacklist.length === 0" class="empty-blacklist">
    Tu blackhlist está vacía.
  </div>
</div>
