<!-- reset-password.component.html -->

<div class="container  center">
    <div class="authorization-form">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Restablecer Contraseña</mat-card-title>
        </mat-card-header>
        <mat-card-content>
      <form class="mat_form" (ngSubmit)="resetPassword()"  [formGroup]="emailFormControl">
        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="email" (input)="clearMessages()" [(ngModel)]="email" name="email" required email formControlName="email">
          
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="emailFormControl.invalid">Restablecer Contraseña</button>
        
      </form>
      <p><a routerLink="">Log in</a></p>
    </mat-card-content>
   
  </mat-card>
  <div class="message">
  <div *ngIf="isRequestSent">
    <p class="text_succes">Hemos enviado un enlace para restablecer tu contraseña a tu dirección de correo electrónico {{ email }}.</p>
  </div>
  
  <div *ngIf="errorMessage">
    <p class="text_error">{{ errorMessage }}<p>
  </div>
</div>
</div>
    </div>
   
    
