<div class="app-container">
    <header>
        <!-- Logo o imagen del encabezado -->
        <img src="ruta_del_logo" alt="Logo de la aplicación">
        <h2 class="header-text">MUMÜ</h2>
        
      </header>
<main><router-outlet></router-outlet></main>
<footer class="footer center">
    <nav class="nav">
        <ul class="footer__list">
          <li class="footer__list_item">
            <h3>DIRECCIÓN</h3>
            <p>Calle Vista Alegre, 13 C.P. 12345 Valencia, España</p>
        </li>
          
          <li class="footer__list_item">
            <h3>TELÉFONO</h3>
            <p>612 345 678</p>
        </li>
          <li class="footer__list_item">
            <h3>CORREO</h3>
            <a href="">hola@unsitiogenial.es</a>
        </li>
          
        </ul>
      </nav>
      
</footer>
</div>

